.app-container {

    .app-content-container {
        position: fixed;
        top: 54px; // 50px of header + 4px of shadow
        width: 100%;
        height: calc(100% - 50px);
        overflow: auto;

        .app-content {
            max-width: 1024px;
            margin: auto;

            .app-content-layout {
                display: flex;
                flex-direction: row;

                .sidebar {
                    flex: 0 0 20%;
                    max-width: 20%;
                }

                .content {
                    flex: 0 0 80%;
                    max-width: 80%;
                    margin-bottom: 50px;
                }
            }
        }
    }
}
