# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

out/
lib/
node_modules

# Generated
*/src/main/webapp/docs/

polyfill-service-api/src/main/resources/polyfills/
polyfill-service-api/src/main/resources/config.properties

polyfill-service-web/src/main/webapp/assets/js
polyfill-service-web/src/main/webapp/index.html

npm-debug.log
