<?xml version="1.0" encoding="UTF-8"?>
<configurations>
    <gated>false</gated>
    <minify>false</minify>
    <load-on-unknown-ua>false</load-on-unknown-ua>
    <debug-mode>true</debug-mode>
    <polyfills>
        <polyfill>a.a</polyfill>
        <polyfill>a.b</polyfill>
        <polyfill>c</polyfill>
    </polyfills>
</configurations>