<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Bad Request</title>
</head>
<body>
    <h1>404 - Not Found</h1>
    <b>This will be a fancy not found page!</b>
</body>
</html>