<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>User Agent Detector</title>
</head>
<body>
    <h1>User Agent Detector</h1>
    <ul>
        <li><b>Browser name:</b> {{ browserName }}</li>
        <li><b>Browser version:</b> {{ browserVersion }}</li>
    </ul>
</body>
</html>